<div class="container mt-5 main">
    <div class="row">
        <div class="col s6 offset-s3">
            <div class="card-panel hoverable conten adds">
                <div class="card-content">
                    <h4 class="titulo">Ingreso Aprendices</h4> 
                </div>
            </div>
        </div>
    </div>
    <div class="row mt4">
        <div class="col s4">
            <div class="card-panel hoverable addsv">
                <div class="card-content">
                    <h5 class="titulo">{{ accion }} Aprendiz</h5>
                    <form [formGroup]="form" (ngSubmit)="agregarAprendiz()">
                        <div class="card-content">
                            <div class="input-field">
                                <i class="fa-solid fa-id-card icon-tmn prefix" [class.green-icon]="this.form.get('IdCard')?.valid" [class.red-icon]="this.form.get('IdCard')?.invalid && this.form.get('IdCard')?.touched"></i>
                                <input placeholder="" id="IdCard" type="text" class="validate" formControlName="IdCard" maxlength="10" minlength="7">
                                <label for="IdCard">Numero de identificación</label>
                            </div>
                            <div class="input-field col l6">
                                <i class="fa-solid fa-user icon-tmn prefix" [class.green-icon]="this.form.get('FirstName')?.valid" [class.red-icon]="this.form.get('FirstName')?.invalid && this.form.get('FirstName')?.touched"></i>
                                <input placeholder="" id="FirstName" type="text" class="validate" formControlName="FirstName">
                                <label for="FirstName">Nombre</label>
                            </div>
                            <div class="input-field col l6">
                                <i class="fa-solid fa-user icon-tmn prefix" [class.green-icon]="this.form.get('LastName')?.valid" [class.red-icon]="this.form.get('LastName')?.invalid && this.form.get('LastName')?.touched"></i>
                                <input placeholder="" id="LastName" type="text" class="validate" formControlName="LastName">
                                <label for="LastName">Apellidos</label>
                            </div>
                            <div class="input-field col l6">
                                <i class="fa-solid fa-envelope icon-tmn prefix" [class.green-icon]="this.form.get('Email')?.valid" [class.red-icon]="this.form.get('Email')?.invalid && this.form.get('Email')?.touched"></i>
                                <input placeholder="" id="Email" type="email" class="validate" formControlName="Email">
                                <label for="Email">Correo</label>
                            </div>
                            <div class="input-field col l6">
                                <i class="fa-solid fa-mobile icon-tmn prefix" [class.green-icon]="this.form.get('CellPhone')?.valid" [class.red-icon]="this.form.get('CellPhone')?.invalid && this.form.get('CellPhone')?.touched"></i>
                                <input placeholder="" id="CellPhone" type="text" class="validate" formControlName="CellPhone" maxlength="10" minlength="10">
                                <label for="CellPhone">Celular</label>
                            </div>
                            <div class="input-field col l6">
                                <i class="fa-solid fa-chalkboard-user icon-tmn prefix" [class.green-icon]="this.form.get('Program')?.valid" [class.red-icon]="this.form.get('Program')?.invalid && this.form.get('Program')?.touched"></i>
                                <input placeholder="" id="Program" type="text" class="validate" formControlName="Program">
                                <label for="Program">Programa</label>
                            </div>
                            <div class="input-field col l6">
                                <i class="fa-solid fa-clock icon-tmn prefix" [class.green-icon]="this.form.get('Jornada')?.valid" [class.red-icon]="this.form.get('Jornada')?.invalid && this.form.get('Jornada')?.touched"></i>
                                <input placeholder="" id="Jornada" type="text" class="validate" formControlName="Jornada">
                                <label for="Jornada">Jornada</label>
                            </div>
                            <div class="row">
                                <button [disabled]="this.form.invalid" class="btn waves-effect black col s12 hoverable" type="submit" >Guardar
                                    <i class="material-icons right">send</i>
                                </button>
                            </div>                            
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col s8">
            <div class="card-panel hoverable addsv br">
                <div class="card-content">
                    <h5 class="titulo">Listado de Aprendices</h5>
                    <table class="responsive-table">
                        <thead>
                          <tr>
                              <th>Documento</th>
                              <th>Nombre</th>
                              <th>Apellidos</th>
                              <th>Email</th>
                              <th>Celular</th>
                              <th>Programa</th>
                              <th>Jornada</th>
                          </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let aprendiz of listAprendices;"  class="hoverable">
                                <td>{{ aprendiz.idCard }}</td>
                                <td>{{ aprendiz.firstName }}</td>
                                <td>{{ aprendiz.lastName }}</td>
                                <td>{{ aprendiz.email }}</td>
                                <td>{{ aprendiz.cellPhone }}</td>
                                <td>{{ aprendiz.program }}</td>
                                <td>{{ aprendiz.jornada }}</td>
                                <td><i class="fa-solid fa-pen-to-square green-text click" (click)="editarAprendiz(aprendiz)"></i></td>
                                <td><i class="fa-solid fa-trash red-text click" (click)="eliminarAprendiz(aprendiz.id)"></i></td>
                            </tr>
                        </tbody>
                      </table>
                </div>
            </div>
        </div>
    </div>
</div>
